body {
    background-image: url("./img/background.png");
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto 0;
    
}

#main-header {
    font-size: x-large;
    border: 3px solid #e70ca5;
    background-color: #00000069;
}

#home-nav-menu {
    display: grid;
    text-align: center;
    height: 80vh;
}

.home-nav-items {
    display: grid;
    list-style: none;
    font-size: xx-large;
    font-weight: bolder;
}

.nav-menu {
    height: 100%;
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding-top: 10px;
}

.nav-items {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
}

li {
    padding: 20px;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.container {
    margin: auto;
    width: 75%;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

#main-content {
    display: flex;
}

#projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color: black;
}

.project-title {
    text-align: center;
}

.project {
    margin: 5rem;
    padding: 2rem;
    background-color: #0000007c;
    border: 5px solid #e70ca5;
}

.description {
    text-align: center;
    justify-content: center;
}

.picture {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#about-container {
    width: 70%;
    margin:auto;
    text-align: center;
    justify-content: center;
}

#about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color: black;
}

.about-me {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 3px solid #e70ca5;
    background-color: #0000007c;
    margin: 1rem;
    padding: 1rem;
}

.cats{
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.skills-header {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}

.skill-items {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
    border: 3px solid #e70ca5;
    background-color: #0000007c;
    margin: 1rem;
    padding: 1rem;
}

.contact {
    padding: 1rem;
    margin: 1rem;
}

#contact-items {
    padding: 1rem;
    margin: 1rem;
    text-decoration: underline;
}

footer {
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 5%;
    bottom: 0;
    left: 0;
}












