body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto 0;
    
}

.nav-menu {
    height: 100%;
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding-top: 10px;
    
}

.nav-items {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
}

li {
    padding: 20px;
}

a {
    text-decoration: underline;
    color: black;
}

.container {
    margin: auto;
    width: 75%;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

#main-content {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

#about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

#about-section {
    display: flex;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    font-size:medium;
    border: 3px solid;
}
 #blurb {
    text-align: center;
    font-size: large;
 }

#projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color: black;
}

.project {
    margin: 5rem;
    padding: 2rem;
    background-color: #bfc4c7;
    border: 3px solid #14a098;
}

.description {
    align-items: center;
}

.picture {
    display: grid;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
}

#contact-me {
    text-align: center;
}

#contactinfo {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 8rem;
    padding-top: 10px;
}

.contact-item {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    left: 0;
}












